[user]
	name = Yoshio Varney
	email = yoshio.varney@gmail.com

[alias]
  st = status --short --branch
  co = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  please = push --force-with-lease 
  ga = add --all
